/*********************/
/* NAVIGATION */
/*********************/

.nav-logo {
    display: flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    filter: drop-shadow(0 0 3px var(--highlight-color));

}

nav {
    display: flex;
    place-items: center;
}

nav ul {
    display: flex;
    gap: 1em;
    margin: 0;
}

nav ul li {
    flex-shrink: 1;

}

.nav-logo img {
    max-width: 50px;
}

/*********************/
/* LANDING SCREEN */
/*********************/

.logo-feature {
    box-shadow: 0px 0px 83px 13px rgba(69, 73, 85, 0.35);
}

header {
    display: flex;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 1em;
}



#landing {
    color: var(--white-color);
    min-height: 90vh;
    background: linear-gradient(180deg, var(--primary-color) 91.47%, rgba(217, 217, 217, 0) 100%);
    display: grid;
    place-items: center;
    padding-bottom: 30px;
}


#landing > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#landing > .wrapper > * {
    flex: 1;
}

@media screen and (max-width: 1000px) {
    #landing > .wrapper {
        flex-wrap: wrap;
        gap: 2em;
        text-align: center;
    }

}



.logo-lg {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 10px var(--highlight-color));
}

.logo-lg img {
    max-width: min(400px, 70vw);
}

/*********************/
/* ABOUT (MISSION, VISION) */
/*********************/

#myVision,#myMission {
    margin: 20vh unset;
}


/** [Unused] Moving Carousel*/

.carousel {
    display: flex;
    height: 150px;
    gap: 0.5em;
}

.carousel-item {
    height: 100%;
    width: 250px;
    border: 2px solid var(--primary-color);

    background-size: cover;
    transition: all linear 5s;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/***********************/

/* LOGOICONDISPLAY */

.logo-icon-grid {
    display: flex;
    grid-auto-flow: column;
    place-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 0;
}

.logo-icon {
    flex-shrink: 1;
    flex-basis: 20%;
    display: grid;
    place-items: center;
}

.logo-icon img {
    width: 100px;
    transition: all ease 500ms;
}

@media screen and (max-width: 1000px) {
    .logo-icon-grid {
        row-gap: 1em;
    }
    .logo-icon img {
        width: 5em;
    }   
}

.logo-icon img:hover {
    transform: scale(1.15);
}



/*********************/
/* PROJECTS */
/*********************/

.slide {
    max-height: 500px;
    display: flex;
}

.slide-image {
    flex:3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .slide {
        max-height: unset;
        flex-direction: column;

    }
    .slide-image img {
        height: 450px;
    }

    .slide-content {
        font-size: 0.95em;

    }
}

.slide-content {
    flex: 2;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 4em 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* PAGINATION */

.btn-paginate {
    width: 1.5em;
    height: 1em;
    border-radius: 0.2em;
    border: none;
    background-color: rgb(224, 224, 224);
}

.active {
    background: var(--primary-color) !important;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.8em;
}

.btn-paginate:hover {
    cursor: pointer;
}

/*****************/


/* COLLECTION BANNER */

.banner {
    background-color: var(--primary-color);
    padding: 1.5em 0;
    color: var(--white-color);
    display: block;
    text-align: center;
    margin: 2em 0;

}

.banner-link {
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    font-family: 'Unbounded';
}

@media screen and (max-width: 1000px) {
    .banner-link {
        font-size: 1.3em;
    }
}


/*********************/
/* EXPERIENCE */
/*********************/


.card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
}

@media screen and (max-width: 1000px) {
    .card-grid {
        grid-template-columns: repeat(1,1fr);
    }
}

.card {
    font-size: 0.8em;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0.2em 0.2em 0.6em rgba(0, 0, 0, 0.377);
}

.card-head {
    height: 10em;
    text-align: center;
    background: linear-gradient(#fff,var(--white-color));
    padding: 2em 0;

}
.card-head img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.card-body {
    padding: 0.75em;
    padding-top: 1em;
}

.card-body p {
    margin: 0;
}

.card-body h3 {
    min-height: 2.5em;
}

.card-body p.card-content {
    margin: 1em 0;
}

/*********************/
/* CONTACT */
/*********************/

.form-set {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 0;
}

.form-input {
    background-color: var(--white-color);
    border: none;
    padding: 1em;
    border-radius: 0.2em;
    font-family: inherit;
    font-size: 0.8em;
}

textarea.form-input {
    resize:vertical;
    min-height: 6em;
    max-height: 20em;
}

.contact-form {
    display: grid;
    grid-template-areas: 
        "fname org"
        "email phone"
        "subject subject"
        "message message"
        "button button"
    ;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    row-gap: 1.5em;
}

.form-send {
    display:flex;
    justify-content: flex-end;
}

