@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
*,*::before,*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Manrope';
  font-size: 20px;
  --primary-color: #454955;
  --secondary-color: #F09D51;
  --white-color: #F3EFF5;
  --highlight-color: #838aa1;
  color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,.subtitle {
  font-family: 'Unbounded';
  margin: 0;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
}

h3 {
  font-weight: 400;
  font-size: 1.25em;
}

p {
  line-height: 2;
}

a {
  font-size: 0.8em;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

strong {
  font-weight: bolder;
  color: var(--secondary-color);
}

#myVision {
  margin-bottom: 3em;
}

footer {
  background-color: var(--primary-color);
  padding: 2em 0;
  color: white;
  font-size: 0.65em;
  text-align: center;
  margin-top: 2em;
}

p.sm {
  font-size: 0.8em;
  line-height: 2;
}

.btn {
  border: 2px solid #2f2f2f;
  background-color: #fff;
  padding: 0.2em 2em;
  font:inherit;
  font-size: 0.8em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
  font-weight: 600;
  transform: all ease 250ms;
  color: var(--primary-color)
}

.btn:hover {
  cursor: pointer;


}

.btn:active {
      transform: translate(1px,1px);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.377);
}


.wrapper {
  max-width: 1080px;
  margin: auto;
  padding: 0 1em;
}

.spaced {
  margin-top: 20vh !important;
  margin-bottom: 15vh !important;
}

.spaced-sm {
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
}

.spaced-btm {
  margin-bottom: 20vh !important;
}